@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  background-color: #98b6b1;
  display: flex;
  flex-direction: column;
  padding: 3em;
  gap: 5em;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  font-family: 'Itim', cursive;

}
.dd-title {
  text-align: center;
  font-size: 3vw;
  padding:0px 5px;
  font-family: 'Carter One', cursive;
  border:2px solid black;
  box-shadow:10px 10px 20px black;
  @media only screen and (max-width: 600px) {
    font-size: 6vw;
  }
}

.slider-header {
  border-top:2px solid black;
  border-bottom:2px solid black; 

  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.step-container{
  padding:2em;
  display:flex;
  justify-content: center;
  align-items: center;
}
.step-slider {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(270deg);
  width:30%;
  height:20%;
}
.data-value {
  font-weight: bold;
  font-size: 3vw;
  padding:0em 1em;
  @media only screen and (max-width: 600px) {
    font-size: 6vw;
  }
}
.data-out{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.grid-frame {
  position: relative;
  display: flex;
}

.grid-container {
  position: absolute;
  transform: translateX(5%);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.plot-chord {
  outline: 4px solid orange;
  border-radius: 200px;
  /* circle radius is 100px because 3.99* 25px (50px=1m) */
  width: 200px;
  height: 200px;
  transform: translateY(10%);
  left: 40%;
  background-color: transparent;
  overflow: hidden;
}

.grid-item {
  padding: 0;
  margin: 0;
  border: 2px solid black;
  z-index: 3;
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background-color: seagreen;
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 2em;
  border: 2px solid coral;
  background-color: bisque;
  padding: 2em;
  /* margin: 2em; */
  @media only screen and (max-width: 600px) {
    padding: 2.5em;
  }
}
.slider-label{
  text-align: center;
}
input[type="range"] {
  height: 2px;
  background: lightcoral;
  border: none;
  outline: none;
}
