body{
    background-color: #98B6B1;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.grid-frame{
    width:40em;
    height:40em;
    position:relative;
    display:flex;

}

.grid-container{
    height:max-content;
    width:max-content;
    display:grid;
    margin-left:-55%;
    margin-top:-55%;
    column-gap:5em;
    row-gap:5em;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.plot-chord{
    border-radius:200px;
    position:absolute;
    /* circle radius is 200px because 3.99* 50px (50px=1m) */
    width:400px;
    height:400px;
    transform: translateY(10%);
    left:40%;
    position: absolute;
    background-color: transparent;
    border:5px solid orange;
    overflow:hidden;
}
.radius {
  position:absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width:200px;
  height:2px;
  background-color: darkcyan;
}
.radius-txt{
position:absolute;
right:0;
top:0;
bottom:0;
margin-top:50%;
margin-right:15%;
}
.grid-item{
    margin:0;
    padding:0;
    border:2px solid black;
    z-index:3;
    width:1vw;
    height:1vw;
    border-radius:50px;
    background-color:seagreen;
}
.shovel{
    z-index:2;
    justify-self: center;
    margin-left:19em;
    margin-bottom:3%;
    align-self: center;
    width:1.5vw;
    height:0.9vw;
    border-radius:50px;
    background-color:lightblue;
}

.slider-container{
    position:absolute;
    display:flex;
    flex-direction: column;
    width:auto;
    height:auto;
    gap:2em;
    border:2px solid coral;
    background-color: bisque;
    left:0;
    top:0;
    padding:2.5em;
    margin-left:5%;
    margin-top:5%;
  }
input[type="range"]{
  width: 100%;
  height: 2px;
  background: lightcoral;
  border: none;
  outline: none;
}
